$mobileWidth-t: 767px;
/* reset */
.kfsi--wrap-t {
  min-height: 100vh;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
html {
  &.active-menu {
    overflow: hidden;
    .kfsi-menu {
      display: block;
    }
  }
}
@mixin text-clamp($lines: 2, $line-height: false) {
  display: -webkit-box;
  overflow: hidden;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  word-break: break-all;
  @if $line-height {
    max-height: $line-height * $lines * 1rem;
  }
}
/* common */
.kfsi-sub-cont {
  padding: 30px 24px;
  @media screen and (max-width: $mobileWidth-t) {
    padding: 16px 24px;
  }
  &-tit {
    margin-bottom: 16px;
    font-size: 22px;
    color: #004d16;
    font-weight: bold;
  }
  &-txt {
    margin-bottom: 3px;
    font-size: 15px;
  }
  &-table {
    border-top: 2px solid #004d16;
    overflow: auto;
    table {
      border-top: 0 !important;
      width: 100%;
      td,
      th {
        padding: 7px 16px;
        height: 50px;
        vertical-align: middle;
        border: 1px solid #ccc;
        border-width: 0 1px 1px 0;
        text-align: center;
        font-size: 16px;
        &:last-child {
          border-right: 0;
        }
      }
      th {
        padding: 8px 10px 7px;
        font-weight: normal;
        background: #e4f2d3;
      }
      tr {
        // &:hover {
        //   th,
        //   td {
        //     background-color: #f6f6f6;
        //   }
        // }
      }
    }
    &.table-write {
      th,
      td {
        padding: 8px 16px 7px;
      }
    }
  }
  &-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    font-size: 0;
    &-left,
    &-right {
      display: flex;
      align-items: center;
      gap: 16px;
      min-width: 200px;
    }
    &-right {
      justify-content: flex-end;
    }
  }
  &-write {
  }

  // .btn {
  //   display: inline-flex;
  //   align-items: center;
  //   justify-content: center;
  //   padding: 0 10px;
  //   height: 35px;
  //   border: 5px;
  //   font-size: 16px;
  //   color: #333;
  //   font-weight: bold;
  //   text-decoration: none !important;
  //   border: 1px solid #ddd;
  //   background: #fff;
  //   & + .btn {
  //     margin-left: 16px;
  //   }
  //   &-sm {
  //     height: 28px;
  //     font-size: 15px;
  //   }
  //   &-lg {
  //     border-radius: 10px;
  //     height: 40px;
  //   }
  //   &-bg-dark {
  //     border: 0;
  //     background: #6c6e75;
  //     color: #fff !important;
  //   }
  //   &-bg-gray {
  //     background: #f6f6f6;
  //   }
  //   &-bg-green {
  //     border: 0;
  //   }
  //   &-plus {
  //     font-weight: normal;
  //     border-color: #1854a3;
  //     color: #1854a3;
  //     border-radius: 5px;
  //     &:before {
  //       margin-right: -3px;
  //       display: inline-block;
  //       width: 14px;
  //       height: 14px;
  //       background: url(../images/tablet/btn-plus.svg);
  //       background-size: 100% auto;
  //       content: '';
  //     }
  //   }
  //   &-minus {
  //     font-weight: normal;
  //     border-color: #d93600;
  //     color: #d93600;
  //     border-radius: 5px;
  //     &:before {
  //       margin-right: -3px;
  //       display: inline-block;
  //       width: 14px;
  //       height: 14px;
  //       background: url(../images/tablet/btn-minus.svg);
  //       background-size: 100% auto;
  //       content: '';
  //     }
  //   }
  // }

  .file-list {
    margin-bottom: 16px;
    ul {
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px 4px;
        border-radius: 10px;
        background: #eee;
        & + li {
          margin-top: 5px;
        }
        a {
          color: #666;
          font-size: 14px;
          word-break: break-all;
          text-align: left;
        }
        button {
          display: block;
          margin-left: 16px;
          width: 12px;
          height: 12px;
          background: url(../images/tablet/ico-delete.svg) no-repeat 0 0;
          background-size: 100% auto;
          font-size: 0;
          border: 0;
        }
      }
    }
  }
}
.filter-cont {
  margin-bottom: 10px;
  padding: 0 0 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-btn {
    button {
      display: inline-flex;
      align-items: center;
      margin: 0;
      padding: 0;
      border: 0;
      background: none;
      font-size: 15px;
      font-weight: 500;
      &.on {
        color: #004d16;
        text-decoration: underline;
        font-weight: bold;
      }
      & + button {
        margin-left: 12px;
        &:before {
          display: inline-block;
          content: '';
          margin-right: 16px;
          width: 1px;
          height: 10px;
          background: #ccc;
        }
      }
    }
  }
  &-search {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
    padding: 20px 30px;
    background: #f1f1f1;
  }
}
.btn-bg-green {
  background-color: #0f6327 !important;
  color: #fff !important;
  justify-content: center;
  border: none;
}
.ico-logo-lg {
  display: block;
  width: 132px;
  height: 140px;
  background: url(../images/tablet/logo-lg.svg) no-repeat 0 0;
  background-size: 100% auto;
  font-size: 0;
  &.mid {
    width: 94px;
    height: 100px;
  }
  @media screen and (max-width: $mobileWidth-t) {
    width: 100px;
    height: 106px;
    &.mid {
      width: 75px;
      height: 80px;
    }
  }
}
.ico-gallery {
  display: inline-block;
  width: 32px;
  height: 24px;
  background: url(../images/tablet/ico-gallery.svg) no-repeat 0 0;
}
.ico-camera {
  display: inline-block;
  width: 32px;
  height: 26px;
  background: url(../images/tablet/ico-camera.svg) no-repeat 0 0;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}
.kfsi-sub-write {
  &-head {
    display: flex;
    gap: 54px;
    padding: 2px 14px;
    &__item {
      display: flex;
      align-items: center;
      gap: 20px;
      color: #000;
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 150% */
      white-space: noWrap;
    }
  }
  table {
    thead {
      tr {
        th {
          background: #eee;
        }
      }
    }
    tbody {
      tr {
        th {
          padding: 8px 24px;
          border-right: none;
          background-color: #fff;
          color: #000;
          font-family: Pretendard;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px; /* 150% */
        }
        td {
          padding: 8px 24px;
        }
      }
    }
  }
  &-file {
    display: flex;
    gap: 10px;
    &-item {
      width: 170px;
      min-width: 170px;
      border-radius: 5px;
      border: 1px solid #ccc;
      overflow: hidden;
      &__thumb {
        width: 100%;
        height: 120px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 30px;
        padding: 0 10px;
        background: #f6f6f6;
        span {
          overflow: hidden;
          color: #666;
          text-overflow: ellipsis;
          font-family: Pretendard;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        button {
          display: block;
          min-width: 20px;
          width: 20px;
          height: 20px;
          background: url(../images/tablet/ico-delete.svg) no-repeat 50% 50%;

          font-size: 0;
          border: 0;
        }
      }
    }
    &__preview {
      display: flex;
      gap: 30px;
      width: 100%;
      padding: 10px 22px;
      border-radius: 5px;
      border: 1px solid #ccc;
      p {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;
        height: 170px;
        margin: 0;
        color: #333;
        text-align: center;
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
    }
    &__button {
      display: flex;
      flex-direction: column;
      gap: 10px;
      min-width: 100px;
      button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 7px;
        height: 100%;
        border-radius: 5px;
        border: 1px solid #999;
        background: #f6f6f6;
        color: #666;
        text-align: center;
        font-family: Pretendard;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 160% */
      }
    }
  }
}

/* SVG 애니메이션 */
.loading-svg {
  width: 100px;
  height: 100px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.kfsi-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  &::before {
    content: '';
    display: block;
    width: 63px;
    height: 62px;
    background: url(../images/tablet/ico-loading.svg) no-repeat 0 0;
    animation: rotate 2s linear infinite;
  }
  p {
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
  }
}

.form-check-green {
  .form-check-input {
    &[type='checkbox'] {
      width: 15px;
      height: 15px;
      border: 2px solid #666;
      border-radius: 0;
    }
    &:checked[type='checkbox'] {
      background: url(../images/tablet/frm-check.svg) no-repeat 0 0;
      background-size: 15px auto;
      border: 0;
    }
  }
}
.dsp-block {
  display: block !important;
}
.ta-l {
  text-align: left !important;
}
.fw-normal {
  font-weight: normal !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-24 {
  margin-top: 24px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}

/* header */
.kfsi-header-t {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 60;
  @media screen and (max-width: $mobileWidth-t) {
    padding: 0 16px;
  }
  &-home {
    position: relative;
    z-index: 20;
  }
  &-tit {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: calc(100% - 200px);
    color: #000;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 0.54px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-home {
    .btn-home {
      display: block;
      width: 126px;
      height: 30px;
      background: url(../images/tablet/logo.svg) no-repeat 50%;
      background-size: 100% auto;
      font-size: 0;
    }
    .btn-back {
      display: block;
      width: 20px;
      height: 20px;
      background: url(../images/tablet/ico-back.svg) no-repeat 0 50%;
      background-size: 11px 18px;
      font-size: 0;
    }
  }
  &-util {
    .btn-menu {
      display: block;
      width: 20px;
      height: 20px;
      background: url(../images/tablet/ico-menu.svg) no-repeat 100% 50%;
      background-size: cover;
      font-size: 0;
    }
    .btn-close {
      display: block;
      width: 20px;
      height: 20px;
      background: url(../images/tablet/ico-close.svg) no-repeat 50%;
      background-size: 100% auto;
      font-size: 0;
    }
  }
}

.intro-wrap,
.perm-wrap {
  .kfsi-header-t {
    display: none;
  }
}
.login-wrap {
  .btn-close {
    display: none;
  }
}
.sub-wrap {
  .btn-home {
    width: 34px;
    height: 34px;
    background-image: url(../images/tablet/ico-home.svg);
  }
  .btn-logo {
    display: block;
    width: 126px;
    height: 30px;
    background-image: url(../images/tablet/logo.svg);
    font-size: 0;
  }
  .btn-close {
    display: none;
  }
}

/* navigation */
.kfsi-nav-t {
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
  background: #f6f6f6;
  .nav-depth00 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 93px;
    width: 33%;
    max-width: 240px;
    border-right: 1px solid #ccc;
    background: #fff;
    li {
      width: 100%;
    }
    ul {
      width: 100%;
      overflow: hidden auto;
      max-height: 100%;
    }
    a {
      display: block;
      padding: 0 20px;
      font-size: 20px;
      color: #000;
      height: 60px;
      line-height: 60px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media screen and (max-width: $mobileWidth-t) {
        padding: 0 16px;
        font-size: 17px;
        height: 50px;
        line-height: 50px;
      }
    }
    .on a {
      background: #004d16;
      color: #fff;
      font-weight: bold;
    }
  }
  .nav-depth01 {
    flex: 1;
    padding: 30px 24px;
    overflow: hidden auto;
    @media screen and (max-width: $mobileWidth-t) {
      padding: 20px 16px;
    }
    &-item {
      display: none;
      &.on {
        display: block;
      }
    }
    &-tit {
      padding: 0 16px;
      color: #004d16;
      font-size: 20px;
      font-weight: bold;
      height: 50px;
      line-height: 50px;
      border-bottom: 2px solid #004d16;
      @media screen and (max-width: $mobileWidth-t) {
        display: none;
      }
    }
    .nav-depth02 {
      display: flex;
      flex-wrap: wrap;
      &-item {
        max-width: 260px;
        width: 50%;
        margin: 9px 0 0 24px;
        box-sizing: border-box;
        @media screen and (max-width: $mobileWidth-t) {
          width: 100%;
          max-width: 100%;
          margin: 0;
        }
      }
      &-tit {
        margin: 0;
        padding: 0 16px;
        font-size: 18px;
        font-weight: bold;
        height: 50px;
        line-height: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media screen and (max-width: $mobileWidth-t) {
          padding: 0;
          font-size: 17px;
        }
      }
      &-link {
        padding: 0 16px;
        margin-bottom: 16px;
        @media screen and (max-width: $mobileWidth-t) {
          padding: 0;
        }
        li {
          position: relative;
          & + li {
            margin-top: 10px;
          }
          a {
            display: block;
            padding-left: 21px;
            font-size: 16px;
            color: #333;
            word-break: normal;
            &::before {
              display: inline-block;
              width: 5px;
              height: 5px;
              background: #004d16;
              border-radius: 100%;
              content: '';
              position: absolute;
              left: 8px;
              top: 10px;
            }
          }
        }
      }
    }
  }
  .btn-logout {
    width: 110px;
    height: 33px;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    display: inline-flex;
    border-radius: 16px;
    border: 1px solid #ccc;
    background: #fff;
    color: #666;
    font-size: 15px;
    position: absolute;
    left: 24px;
    bottom: 30px;
    &:before {
      display: inline-block;
      margin-right: 10px;
      width: 15px;
      height: 14px;
      background: url(../images/tablet/btn-logout.svg) no-repeat 0 0;
      background-size: 100% auto;
      content: '';
    }
  }
}

/* intro */
.intro-cont {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* error */
.error-cont {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* permission */
.perm-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &-inner {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 440px;
    box-sizing: border-box;
  }
  &-tit {
    margin: 0 auto;
  }
  &-txt {
    margin: 30px 0 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
  }
  .perm-group {
    margin-top: 30px;
    &-list {
      padding: 50px 30px;
      border-radius: 10px;
      border: 1px solid #ccc;
      li {
        display: flex;
        align-items: center;
        & + li {
          margin-top: 48px;
        }
        .ico-perm {
          margin-right: 24px;
          display: flex;
          width: 60px;
          height: 60px;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          aspect-ratio: 1/1;
          border-radius: 100px;
          background: #f6f6f6;
        }
        .detall {
          strong {
            display: block;
            font-size: 16px;
            font-weight: bold;
            line-height: 24px;
          }
          span {
            display: block;
            margin-top: 5px;
            color: #666;
            font-size: 15px;
            line-height: 20px;
          }
        }
      }
    }
    &-button {
      margin-top: 60px;
    }
  }
}

/* login */
.login-cont {
  margin: 60px auto;
  padding: 0 20px;
  max-width: 440px;
  box-sizing: border-box;
  &-tit {
    margin: 0 0 30px;
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .form-group {
    .form-control-box {
      & + .form-control-box {
        margin-top: 16px;
      }
      position: relative;
      label {
        position: absolute;
        left: 16px;
        top: 10px;
        img {
          vertical-align: top;
        }
      }
      input {
        padding: 0 0 0 52px;
        &::placeholder {
          color: #999;
        }
      }
    }
    .form-button {
      margin-top: 30px;
    }
    .guide-txt {
      margin: 10px 0 0;
      color: #666;
      font-size: 15px;
      line-height: 20px;
    }
  }

  .notice-group {
    margin: 60px 0 0;
    position: relative;
    &-tit {
      color: #004d16;
      font-size: 24px;
      font-weight: bold;
    }
    &-list {
      margin: 16px 0 0;
      padding: 0;
      li {
        border-radius: 10px;
        border: 1px solid #ccc;
        & + li {
          margin-top: 5px;
        }
      }
      a {
        display: block;
        padding: 0 14px;
        height: 50px;
        line-height: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
        color: #000;
      }
    }
    .btn-plus {
      display: block;
      width: 30px;
      height: 30px;
      background: url(../images/tablet/ico-plus.svg) no-repeat 0 0;
      background-size: 100% auto;
      font-size: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

/* board */
.board-cont {
  padding: 10px 26px 0;
  .board-list {
    border-top: 2px solid #004d16;
    li {
      border-bottom: 1px solid #ccc;
    }
    .link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      color: #000;
      font-size: 16px;
      letter-spacing: 0.48px;
      .detail {
        padding: 0 24px;
        width: calc(100% - 100px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .date {
        padding: 0 28px;
        color: #666;
        white-space: nowrap;
      }
    }
  }
  .board-view {
    &-head {
      padding: 10px 24px;
      border-bottom: 1px solid #ccc;
      &-title {
        margin: 0 0 20px;
        .cdt {
          display: inline-flex;
          margin-right: 10px;
          padding: 0 14px;
          align-items: center;
          height: 25px;
          line-height: 25px;
          background: #009732;
          border-radius: 30px;
          font-size: 15px;
          font-weight: bold;
          color: #fff;
        }
        .tit {
          font-size: 22px;
          color: #004d16;
          vertical-align: middle;
        }
      }
      &-category {
        margin-bottom: 15px;
        .cate {
          margin: 0;
          display: flex;
          font-size: 16px;
          color: #333;
          dt {
            margin: 0 24px 0 0;
            font-weight: 700;
          }
          dd {
            margin: 0;
            & + dt::before {
              display: inline-flex;
              margin: 0 24px;
              content: '';
              width: 1px;
              height: 10px;
              background: #999;
            }
          }
        }
      }
    }

    &-body {
      padding: 60px 24px 70px;
      font-size: 16px;
      line-height: 26px;
      border-bottom: 1px solid #ccc;
    }
  }
  .board-button {
    display: flex;
    justify-content: center;
    margin: 40px 0 0;
    .btn {
      width: 174px;
      justify-content: center;
    }
  }
}

.kfsi {
  &-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    z-index: 100;
    display: none;
    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      padding: 0 24px;
      border-bottom: 1px solid #ccc;
      background: #fff;
      @media screen and (max-width: $mobileWidth-t) {
        padding: 0 16px;
      }
      .btn-home {
        display: block;
        width: 126px;
        height: 30px;
        background: url(../images/tablet/logo.svg) no-repeat 50%;
        background-size: 100% auto;
        font-size: 0;
      }
      &-close {
        display: block;
        width: 20px;
        height: 20px;
        background: url(../images/tablet/ico-close.svg) no-repeat 50%;
        background-size: 100% auto;
        font-size: 0;
      }
    }
  }
}

.kfsi {
  &-testdetail {
    padding: 16px 24px;
    &-head {
      &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #004d16;
        background: #fff;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
        color: #000;
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        > strong,
        span {
          display: flex;
          align-items: center;
          &:after {
            content: '';
            display: block;

            min-width: 1px;
            width: 1px;
            height: 9px;
            margin: 0 20px;
            background: #ccc;
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
        }
      }
      &__text {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        padding: 8px;
        border-radius: 10px;
        background: #f1f1f1;
        color: #000;
        font-family: Pretendard;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 160% */
        > strong,
        span {
          display: flex;
          align-items: center;
          &:after {
            content: '';
            display: block;

            min-width: 1px;
            width: 1px;
            height: 9px;
            margin: 0 20px;
            background: #ccc;
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
        }
      }
    }
    &-body {
      overflow: auto;
      &-inner {
        display: grid;
        align-items: flex-start;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;
        height: 530px;
      }
      &-item {
        min-width: 300px;
        width: 300px;
        min-height: 253px;
        border: 1px solid #999;
        &__thumb {
          position: relative;
          min-width: 136px;
          width: 136px;
          height: 170px;
          margin-bottom: 10px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &-text {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            padding: 5px 10px;
            z-index: 20;
            background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.6) 0%,
                rgba(255, 255, 255, 0.6) 100%
              )
              50% / cover no-repeat;
            color: #d93600;
            font-family: Pretendard;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 4.4px;
          }
        }
        &__contents {
          display: flex;
          gap: 15px;
          padding: 10px 10px 0 10px;
        }
        &__text {
          width: 100%;
          padding: 6px 0 0 0;
          dl {
            margin: 0 0 10px 0;
            &:last-child {
              margin: 0;
            }
            dt {
              margin: 0;
              padding: 0;
              border-radius: 50px;
              background: #f1f1f1;
              color: #333;
              text-align: center;
              font-family: Pretendard;
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px; /* 160% */
            }
            dd {
              margin: 0;
              padding: 0;
              color: #333;
              font-family: Pretendard;
              font-size: 15px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px; /* 160% */
              text-align: center;
            }
          }
        }
        &__button {
          display: flex;
          gap: 10px;
          padding: 10px;
          border-top: 1px solid #eee;
        }
        &__none {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          height: 251px;
        }
        &__delete {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          height: 251px;
          border: 0;
          background: #ccc;
        }
      }
      &-list {
        .kfsi-testdetail-body-inner {
          height: 580px;
        }
        &-menu {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 10px;
          width: 100%;
          height: 190px;
        }
        &-item {
          width: 532px;
          padding: 16px;
          border-radius: 10px;
          border: 1px solid #ccc;
          background: #fff;
          .kfsi-testdetail-body-item {
            min-height: auto;
          }
          .kfsi-testdetail-body-item__none {
            height: 246px;
          }
          .kfsi-testdetail-body-item__delete {
            width: calc(100% + 32px);

            height: 278px;
            margin: -16px;
            border-radius: 8px;
          }
        }
        &__contents {
          display: flex;
          gap: 20px;
          .kfsi-testdetail-body-list__button {
            width: 100%;
            flex-direction: column;
            margin: 0;
            .btn {
              width: 100%;
              min-height: 39px;
              &:first-child {
                height: 100%;
              }
            }
          }
        }
        &__thumb {
          width: 100%;
          min-height: 112px;
          border-radius: 10px;
          border: 1px solid #ccc;
          background: #fff;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &__file {
          width: 100%;
          height: 100%;
          padding: 5px;
          border-radius: 10px;
          border: 1px solid #ccc;
          background: #fff;
          ul {
            padding: 6px 0;
            li {
              display: flex;
              align-items: center;
              gap: 16px;
              margin-bottom: 6px;
              p {
                margin: 0;
                color: #666;
                font-family: Pretendard;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @include text-clamp(1);
              }
              button {
                min-width: 18px;
                width: 18px;
                height: 18px;
                background: url(../images/icon/ico-delete2.svg) no-repeat 50%
                  50%;
                border: 0;
                font-size: 0;
              }
            }
          }
          &-button {
            display: flex;
            gap: 5px;
            button {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 50px;
              border-radius: 5px;
              border: 1px dashed #999;
              background: #fff;
            }
          }
          p {
            margin: 20px 0 18px 0;
            color: #999;
            text-align: center;
            font-family: Pretendard;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.42px;
          }
        }
        &__sign {
          width: 100%;
          height: 100%;
          padding: 10px;
          border-radius: 10px;
          border: 1px solid #666;
          background: #f6f6f6;
          color: #333;
          text-align: center;
          font-family: Pretendard;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px; /* 142.857% */
          &-result {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            border: 1px solid #666;
            background: #f6f6f6;
            overflow: hidden;
            canvas {
              width: 100%;
              height: 100%;
            }
          }
        }
        &__button {
          display: flex;
          gap: 10px;
          margin-top: 14px;
        }
      }
    }
  }
}
